VERSION=0.1.1

# POSTGRES
POSTGRES_USER=docker
POSTGRES_PASSWORD=docker
POSTGRES_DB=core

LOGIN_ORIGIN=http://localhost:3000
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}?schema=echo"

# This sets the URL used for direct connections to the database and should only be needed in limited circumstances
# See: https://www.prisma.io/docs/reference/api-reference/prisma-schema-reference#fields:~:text=the%20shadow%20database.-,directUrl,-No
DIRECT_URL=${DATABASE_URL}

REMIX_APP_PORT=3000
APP_ENV=production
NODE_ENV=${APP_ENV}
APP_ORIGIN=http://localhost:3000

SESSION_SECRET=27192e6432564f4788d55c15131bd5ac
ENCRYPTION_KEY=27192e6432564f4788d55c15131bd5ac

########### Sign.in with google ############
AUTH_GOOGLE_CLIENT_ID=
AUTH_GOOGLE_CLIENT_SECRET=

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_TLS_DISABLED=true

ENABLE_EMAIL_LOGIN=true

NEO4J_URI=bolt://neo4j:7687
NEO4J_USERNAME=neo4j
NEO4J_PASSWORD=27192e6432564f4788d55c15131bd5ac
OPENAI_API_KEY=


MAGIC_LINK_SECRET=27192e6432564f4788d55c15131bd5ac


NEO4J_AUTH=neo4j/27192e6432564f4788d55c15131bd5ac