@import url("non.geist");
@import url("non.geist/mono");

@import "tailwindcss";


:root {
  --background: oklch(91.28% 0 0);
  --background-2: oklch(95.21% 0 0);
  --background-3: oklch(100% 0 0);
  --foreground: oklch(0% 0 0);
  --popover: oklch(93.05% 0 0);
  --popover-foreground: oklch(0% 0 0);
  --primary: oklch(54% 0.1789 271);
  --primary-foreground: oklch(100% 0 0);
  --secondary: 210 40% 96.1%;
  --secondary-foreground: oklch(0% 0 0);
  --muted: oklch(0% 0 0 / 19.22%);
  --muted-foreground: oklch(49.26% 0 0);
  --accent: oklch(100% 0 0);
  --accent-foreground: oklch(0% 0 0);
  --destructive: oklch(61.34% 0.162 23.58);
  --destructive-foreground: oklch(100% 0 0);
  --warning: oklch(70.43% 0.14390424619548714 87.9634104985311);
  --warning-foreground: oklch(100% 0 0);
  --success: oklch(64.93% 0.107 154.24);
  --success-foreground: oklch(100% 0 0);
  --border: oklch(0% 0 0 / 19.22%);
  --border-dark: oklch(0% 0 0 / 39.22%);
  --input: oklch(0% 0 0 / 6.27%);
  --ring: 221.2 83.2% 53.3%;
  --radius: 8px;
}

.dark,
:root[class~="dark"] {
  --background: oklch(21.34% 0 0);
  --background-2: oklch(25.2% 0 0);
  --background-3: oklch(28.5% 0 0);
  --foreground: oklch(92.8% 0 0);
  --popover: oklch(28.5% 0 0);
  --popover-foreground: oklch(92.8% 0 0);
  --primary: oklch(54% 0.1789 271);
  --primary-foreground: oklch(92.8% 0 0);
  --secondary: 210 40% 96.1%;
  --secondary-foreground: oklch(92.8% 0 0);
  --muted: oklch(100% 0 0 / 13.33%);
  --muted-foreground: oklch(76.99% 0 0);
  --accent: oklch(95.81% 0 0);
  --accent-foreground: oklch(0% 0 0);
  --warning: oklch(70.43% 0.14390424619548714 87.9634104985311);
  --warning-foreground: oklch(100% 0 0);
  --destructive: oklch(61.34% 0.162 23.58);
  --destructive-foreground: oklch(100% 0 0);
  --success: oklch(64.93% 0.107 154.24);
  --success-foreground: oklch(100% 0 0);
  --border: oklch(100% 0 0 / 13.33%);
  --border-dark: oklch(100% 0 0 / 39.33%);
  --input: oklch(100% 0 0 / 10.59%);
  --ring: 221.2 83.2% 53.3%;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}